
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label, input {
    padding-right: 50%;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    margin-top: 10px;
  }

/* / ................................................ */
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }


  .bookif{
    padding-right: 15px;
  }
  .usersif{
    padding-right: 15px;
  }


  .button-group {
    display: inline-block;
  }
  
  .edit-button,
  .delete-button {
    margin: 10px;
    font-size: 10px;
  }


  .lb_book{
    padding-left: 70px;

  }

  input[type="date"] {
    /* Loại bỏ giao diện mặc định của trình duyệt */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  
    /* Tùy chỉnh kích thước */
    width: 200px;
    height: 32px;
    padding: 6px 12px;
  
    /* Tùy chỉnh font chữ */
    font-family: Arial, sans-serif;
    font-size: 14px;
  
    /* Tùy chỉnh viền */
    border: 1px solid #ccc;
    border-radius: 4px;
  
    /* Tùy chỉnh màu nền và màu chữ */
    background-color: #fff;
    color: #333;
  
    /* Tùy chỉnh hiển thị mũi tên chỉ xuống */
    background-image: linear-gradient(to bottom, #ffffff 50%, #e5e5e5 100%);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }
  
  /* Tùy chỉnh màu nền khi hover */
  input[type="date"]:hover {
    background-color: #f9f9f9;
  }
  
  /* Tùy chỉnh màu nền khi focus */
  input[type="date"]:focus {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
  }



  body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100%;
    height: auto;
}

.search-form {
    text-align: right;
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-form input[type="submit"] {
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.search-form input[type="submit"]:hover {
    background-color: #45a049;
}

.message {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}